<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>儿童家长问卷（第三页）</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="http://www.semantic-ui.cn/dist/semantic.min.css">
    <script type="text/javascript" src="http://www.semantic-ui.cn/javascript/library/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.semantic-ui.cn/dist/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <style type="text/css">
        .datimianban{margin:0 auto; width:800px;}
    </style>
    <!--缓存设置-->
    <script>
        //定义全局变量函数
        var uzStorage = function () {
            var ls = window.localStorage;
            return ls;
        };
        //定义全局变量u
        var u = {};
        //设置缓存
        u.setStorage = function (key, value) {
            var v = value;
            if (typeof v == 'object') {
                v = JSON.stringify(v);
                v = 'obj-' + v;
            } else {
                v = 'str-' + v;
            }
            var ls = uzStorage();
            if (ls) {
                ls.setItem(key, v);
            }
        };
        //获取缓存
        u.getStorage = function (key) {
            var ls = uzStorage();
            if (ls) {
                var v = ls.getItem(key);
                if (!v) {
                    return;
                }
                if (v.indexOf('obj-') === 0) {
                    v = v.slice(4);
                    return JSON.parse(v);
                } else if (v.indexOf('str-') === 0) {
                    return v.slice(4);
                }
            }
        };
        //清理缓存
        u.clearStorage = function() {
            localStorage.clear()
        };

    </script>
</head>
<body>
     <div class="datimianban" id="app">
        <form class="ui form">
            <div class="ui segments">
                <div class="ui huge breadcrumb">
                    <a class="section" href="/index/">问卷调查首页</a>
                    <a class="section">|</a>
                    <a class="section">儿童家长问卷</a>
                </div>
                <h3 class="ui horizontal divider header">
                    答题部分
                </h3>
                <!--答题部分-->
                <h4 class="ui dividing header">注意：只有孩子的父母和祖父母／外祖父母才能完成本问卷！</h4>
                <h4 class="ui dividing header">要求：请选择相应的选择题选项。</h4>
                <!--21---25题-->
                <div class="ui green segment">
                    <div class="field">
                        <label for="Q21">Q21.您对以下说法的看法如何？（每小题只选一个答案）</label>
                    </div>
                    <div class="field">
                        <label for="Q21">(1)口腔健康对自己的生活很重要</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-a" checked="" tabindex="0" class="hidden" v-model="anwser.Q21a" value="1" id="21a1">
                                <label for="21a1">同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-a" tabindex="0" class="hidden" v-model="anwser.Q21a" value="2" id="21a2">
                                <label for="21a2">不同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-a" tabindex="0" class="hidden" v-model="anwser.Q21a" value="8" id="21a3">
                                <label for="21a3">无所谓</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-a" tabindex="0" class="hidden" v-model="anwser.Q21a" value="9" id="21a4">
                                <label for="21a4">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q21">(2)定期口腔检查是十分必要的</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-2" checked="" tabindex="0" class="hidden" v-model="anwser.Q21b" value="1" id="21E">
                                <label for="21E">同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-2" tabindex="0" class="hidden" v-model="anwser.Q21b" value="2" id="21F">
                                <label for="21F">不同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-2" tabindex="0" class="hidden" v-model="anwser.Q21b" value="8" id="21G">
                                <label for="21G">无所谓</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-1" tabindex="0" class="hidden" v-model="anwser.Q21b" value="9" id="21X">
                                <label for="21X">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q21">(3)牙齿的好坏是天生的，与自己的保护关系不大</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-3" checked="" tabindex="0" class="hidden" v-model="anwser.Q21c" value="1" id="21T">
                                <label for="21T">同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-3" tabindex="0" class="hidden" v-model="anwser.Q21c" value="2" id="21N">
                                <label for="21N">不同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-3" tabindex="0" class="hidden" v-model="anwser.Q21c" value="8" id="210">
                                <label for="210">无所谓</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-3" tabindex="0" class="hidden" v-model="anwser.Q21c" value="9" id="211">
                                <label for="211">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q21">(4)预防牙病首先靠自己</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-4" checked="" tabindex="0" class="hidden" v-model="anwser.Q21d" value="1" id="212">
                                <label for="212">同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-4" tabindex="0" class="hidden" v-model="anwser.Q21d" value="2" id="213">
                                <label for="213">不同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-4" tabindex="0" class="hidden" v-model="anwser.Q21d" value="8" id="214">
                                <label for="214">无所谓</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-4" tabindex="0" class="hidden" v-model="anwser.Q21d" value="9" id="215">
                                <label for="215">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q21">(5)保护孩子六龄牙很重要</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-5" checked="" tabindex="0" class="hidden" v-model="anwser.Q21e" value="1" id="216">
                                <label for="216">同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-5" tabindex="0" class="hidden" v-model="anwser.Q21e" value="2" id="217">
                                <label for="217">不同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-5" tabindex="0" class="hidden" v-model="anwser.Q21e" value="8" id="218">
                                <label for="218">无所谓</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-5" tabindex="0" class="hidden" v-model="anwser.Q21e" value="9" id="219">
                                <label for="219">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q21">(6)母亲牙齿不好会影响孩子的牙齿</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-6" checked="" tabindex="0" class="hidden" v-model="anwser.Q21f" value="1" id="21AA">
                                <label for="21AA">同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-6" tabindex="0" class="hidden" v-model="anwser.Q21f" value="2" id="21BB">
                                <label for="21BB">不同意</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-6" tabindex="0" class="hidden" v-model="anwser.Q21f" value="8" id="21CC">
                                <label for="21CC">无所谓</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q21-6" tabindex="0" class="hidden" v-model="anwser.Q21f" value="9" id="21DD">
                                <label for="21DD">不知道</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui blue segment">
                    <div class="field">
                        <label for="Q22">Q22.您认为下面的说法是否正确？（每小题只选一个答案）</label>
                    </div>
                    <div class="field">
                        <label for="Q22">(1)刷牙时牙龈出血是正常的</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-1" checked="" tabindex="0" class="hidden"  v-model="anwser.Q22a" value="1" id="22a1">
                                <label for="22a1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-1" tabindex="0" class="hidden" v-model="anwser.Q22a" value="2" id="22a2">
                                <label for="22a2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-1" tabindex="0" class="hidden" v-model="anwser.Q22a" value="8" id="22a3">
                                <label for="22a3">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q22">(2)细菌可以引起牙龈发炎</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-2" checked="" tabindex="0" class="hidden" v-model="anwser.Q22b" value="1" id="22b1">
                                <label for="22b1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-2" tabindex="0" class="hidden" v-model="anwser.Q22b" value="2" id="22b2">
                                <label for="22b2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-2" tabindex="0" class="hidden" v-model="anwser.Q22b" value="8" id="22b3">
                                <label for="22b3">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q22">(3)刷牙对预防牙龈出血没有用</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-3" checked="" tabindex="0" class="hidden" v-model="anwser.Q22c" value="1" id="22c1">
                                <label for="22c1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-3" tabindex="0" class="hidden" v-model="anwser.Q22c" value="2" id="22c2">
                                <label for="22c2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-3" tabindex="0" class="hidden" v-model="anwser.Q22c" value="8" id="22c3">
                                <label for="22c3">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q22">(4)细菌可以引起龋齿</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-4" checked="" tabindex="0" class="hidden" v-model="anwser.Q22d" value="1" id="22d1">
                                <label for="22d1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-4" tabindex="0" class="hidden" v-model="anwser.Q22d" value="2" id="22d2">
                                <label for="22d2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-4" tabindex="0" class="hidden" v-model="anwser.Q22d" value="8" id="22d3">
                                <label for="22d3">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q22">(5)吃糖可以导致龋齿</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-5" checked="" tabindex="0" class="hidden" v-model="anwser.Q22e" value="1" id="22e1">
                                <label for="22e1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-5" tabindex="0" class="hidden" v-model="anwser.Q22e" value="2" id="22e2">
                                <label for="22e2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-5" tabindex="0" class="hidden" v-model="anwser.Q22e" value="8" id="22e3">
                                <label for="22e3">不知道</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="Q22">(6)乳牙坏了不用治疗</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-6" checked="" tabindex="0" class="hidden" v-model="anwser.Q22f" value="1" id="22f1">
                                <label for="22f1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-6" tabindex="0" class="hidden" v-model="anwser.Q22f" value="2" id="22f2">
                                <label for="22f2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-6" tabindex="0" class="hidden" v-model="anwser.Q22f" value="8" id="22f3">
                                <label for="22f3">不知道</label>
                            </div>
                        </div>
                        </div>
                     <div class="field">
                        <label for="Q22">(7)窝沟封闭能预防儿童龋齿</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-7" checked="" tabindex="0" class="hidden" v-model="anwser.Q22g" value="1" id="22g1">
                                <label for="22g1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-7" tabindex="0" class="hidden" v-model="anwser.Q22g" value="2" id="22g2">
                                <label for="22g2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-7" tabindex="0" class="hidden" v-model="anwser.Q22g" value="8" id="22g3">
                                <label for="22g3">不知道</label>
                            </div>
                        </div>
                        </div>
                     <div class="field">
                        <label for="Q22">(8)氟化物对保护牙齿没有用</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-8" checked="" tabindex="0" class="hidden" v-model="anwser.Q22h" value="1" id="22h1">
                                <label for="22h1">正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-8" tabindex="0" class="hidden" v-model="anwser.Q22h" value="2" id="22h2">
                                <label for="22h2">不正确</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q22-8" tabindex="0" class="hidden" v-model="anwser.Q22h" value="8" id="22h3">
                                <label for="22h3">不知道</label>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="ui red segment">
                    <div class="inline fields">
                        <label>Q23.您获得的最高学历是什么？（单选）</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" checked="" tabindex="0" class="hidden" v-model="anwser.Q23" value="1" id="23A">
                                <label for="23A">没有上过学</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="2" id="23B">
                                <label for="23B">小学</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="3" id="23C">
                                <label for="23C">初中</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="4" id="23D">
                                <label for="23D">高中</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="5" id="23E">
                                <label for="23E">中专</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="6" id="23F">
                                <label for="23F">大专</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="7" id="23G">
                                <label for="23G">本科</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Q23" tabindex="0" class="hidden" v-model="anwser.Q23" value="8" id="23X">
                                <label for="23X">硕士及以上</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui blue segment">
                    <div class="field">
                        <label>Q24.您家里一共生活的有（）口人？（请填写一个整数，不知道或拒绝回答的填写"N"）</label>
                        <div class="field">
                            <input type="text" name="Q24" placeholder="请输入人口数" v-model="anwser.Q24">
                        </div>
                    </div>
                </div>
                <div class="ui yellow segment">
                    <div class="field">
                        <label>Q25.您家共同生活的人在过去12月内的总收入是（）万元／年？（请填写一个整数，不知道或拒绝回答的填写"N"）</label>
                        <div class="field">
                            <input type="text" name="Q25" placeholder="请输入金额" v-model="anwser.Q25">
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                </div>

                <div class="four fields">
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                    <div class="field">
                        <div class="ui submit button" style="margin-right: 50px" >
                            <a class="section" href="/index/endpage/" v-on:click="putToBase">确认提交</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $('.ui.radio.checkbox').checkbox();
        var info = new Vue({
            el:'#app',
            data:{
                anwser:{
                    Q21a: "",
                    Q21b: "",
                    Q21c: "",
                    Q21d: "",
                    Q21e: "",
                    Q21f: "",
                    Q22a: "",
                    Q22b: "",
                    Q22c: "",
                    Q22d: "",
                    Q22e: "",
                    Q22f: "",
                    Q22g: "",
                    Q22h: "",
                    Q23: "",
                    Q24:"",
                    Q25:"",
                    Q26 :"test2",
                    Q27 :"",

                },
                 msg:""
            },
             methods: {

                 putToBase: function () {
                     this.anwser.PopulationID = u.getStorage("PopulationID");
                     this.anwser.name = u.getStorage("name");
                     this.anwser.gender = u.getStorage("gender");
                     this.anwser.nation = u.getStorage("nation");
                     this.anwser.populationType = u.getStorage("populationType");
                     this.anwser.birthYear = u.getStorage("birthYear");
                     this.anwser.birthMonth = u.getStorage("birthMonth");
                     this.anwser.birthDay = u.getStorage("birthDay");
                     this.anwser.checkYear = u.getStorage("checkYear");
                     this.anwser.checkMonth = u.getStorage("checkMonth");
                     this.anwser.checkDay = u.getStorage("checkDay");
                     this.anwser.checherID = u.getStorage("checkerID");
                     this.anwser.Q1 = u.getStorage("Q1");
                     this.anwser.Q2 = u.getStorage("Q2");
                     this.anwser.Q3 = u.getStorage("Q3");
                     this.anwser.Q4a = u.getStorage("Q4a");
                     this.anwser.Q4b = u.getStorage("Q4b");
                     this.anwser.Q4c = u.getStorage("Q4c");
                     this.anwser.Q5 = u.getStorage("Q5");
                     this.anwser.Q6 = u.getStorage("Q6");
                     this.anwser.Q7 = u.getStorage("Q7");
                     this.anwser.Q8 = u.getStorage("Q8");
                     this.anwser.Q9 = u.getStorage("Q9");
                     this.anwser.Q10 = u.getStorage("Q10");
                     this.anwser.Q11 = u.getStorage("Q11");
                     this.anwser.Q12 = u.getStorage("Q12");
                     this.anwser.Q13 = u.getStorage("Q13");
                     this.anwser.Q14 = u.getStorage("Q14");
                     this.anwser.Q15 = u.getStorage("Q15");
                     this.anwser.Q16 = u.getStorage("Q16");
                     this.anwser.Q17 = u.getStorage("Q17");
                     this.anwser.Q18 = u.getStorage("Q18");
                     this.anwser.Q19 = u.getStorage("Q19");
                     this.anwser.Q20 = u.getStorage("Q20");
                     //console.log("？？？？？？？？？？？")

                     var that = this;
                     //console.log(src);
                     $.ajax({
                         type: "POST",
                         data: {
                             "answer": this.anwser,
                         },
                         //url: "http://localhost:8000/api/setToBase/",
                         url: "/api/setToBase1/",

                         success: function (data) {
                             if(data.status==1){
                                 that.msg=data.msg;
                                 console.log(that.msg)
                             }
                             else{
                                 that.msg="录入数据失败，请重新作答！"
                                 console.log(that.msg)
                             }

                             //localStorage.clear()

                         }
                     })
                 },
             }
        });
    </script>
</body>
</html>